.transparent-chat {
  display: flex;
  flex-direction: column;
  color: --ash-black;
  font-family: RuneScape;
  width: 90%;
  height: 20%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 75%;
  left: 5%;
}

.transparent-messages {
  flex: 1;
  overflow: auto;
  padding: 8px;
  width: 100%;
}

.transparent-input {
  color: --ash-black;
  font-family: RuneScape;
  width: 240px;
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.transparent-input:focus {
  outline: none;
}
