.grassy-room {
  font-family: RuneScape;
  background-color: var(--grassy-room);
  z-index: -10000;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.grassy-room-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Grass {
  position: absolute;
  width: 2px;
  height: var(--height);
  background-color: var(--color);
  animation: wind 2s ease-in-out infinite;
}

.Flower {
  position: absolute;
  width: 2px;
  height: var(--height);
  background-color: var(--color);
  animation: wind 2s ease-in-out infinite;
}

.Dirt {
  position: absolute;
  z-index: -9999;
}

@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
