.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: --ash-black;
  background-color: var(--ash-black);
  border-radius: 12px 0px 0px 12px;
  height: 100vh;
  width: 30vw;
  @media (max-width: 950px) {
    width: 100%;
    height: 45vh;
    border-radius: 12px 12px 0px 0px;
  }
}

.chat-messages {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--white);
  margin: 5%;
  height: 100%;
  @media (max-width: 950px) {
    margin: 4px;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.chat-messages::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

.chat-messages::-webkit-scrollbar-thumb {
  background: var(--grey); /* Color of the scrollbar thumb */
  border-radius: 25px;
  border: none; /* Radius of the scrollbar thumb */
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Color of the scrollbar thumb on hover */
}

.chat-input {
  color: var(--white);
  border: none;
  background: var(--blue);
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 12px;
  line-height: 1; /* Set line height to 1 to start cursor at the top */
  resize: none; /* Prevent resizing */
  font-weight: bold; /* Increase font weight */
  margin-right: 10px;
  overflow-y: hidden;
  &:focus {
    outline: none;
  }
}
.send-button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 40px; /* Set width and height for the circle */
  height: 40px;
  background-color: var(--blue); /* Set background color */
  border-radius: 50%; /* Make it a circle */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  background-color: var(--purple);
  color: var(--white);
  word-wrap: break-word;
  max-width: 90%;
  padding: 5%;
  margin: 10px 0px;
  border-radius: 12px;
}

.your-message {
  align-self: flex-end;
  background-color: var(--blue);
}

.your-tag {
  align-self: flex-end;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 80%;
  @media (max-width: 950px) {
    width: 86vw;
  }
}

@media (max-width: 950px) {
  .message {
    margin: 10px 0px;
    padding: 10px;
  }
}
