.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: --ash-black;
  width: 100%;
  background-color: var(--ash-black);
  height: 35vh;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  @media (min-width: 950px) {
    width: 30vw;
    height: 100vh;
    max-height: 100vh;
    border-radius: 12px 0px 0px 12px;
  }
}

.chat-messages {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--white);
  max-height: 90%;
  height: 70%;
  margin: 5%;
  @media (max-width: 950px) {
    max-height: 8vh;
    margin: 4px;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.chat-messages::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

.chat-messages::-webkit-scrollbar-thumb {
  background: var(--grey); /* Color of the scrollbar thumb */
  border-radius: 25px;
  border: none; /* Radius of the scrollbar thumb */
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Color of the scrollbar thumb on hover */
}

.chat-input {
  color: var(--white);
  border: none;
  background: var(--blue);
  outline: none;
  box-shadow: none;
  height: 25vh;
  width: 75%;
  padding: 20px;
  border-radius: 12px;
  line-height: 1; /* Set line height to 1 to start cursor at the top */
  resize: none; /* Prevent resizing */
  font-size: 20px; /* Increase font size */
  font-weight: bold; /* Increase font weight */
  margin-right: 10px;
  overflow-y: hidden;
  &:focus {
    outline: none;
  }
}
.send-button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 40px; /* Set width and height for the circle */
  height: 40px;
  background-color: var(--blue); /* Set background color */
  border-radius: 50%; /* Make it a circle */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  background-color: var(--purple);
  color: var(--white);
  word-wrap: break-word;
  max-width: 90%;
  padding: 5%;
  margin: 10px 0px;
  border-radius: 12px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 80%;
  @media (max-width: 950px) {
    width: 86vw;
  }
}

@media (max-width: 950px) {
  .message {
    margin: 10px 0px;
    padding: 10px;
  }
  .chat-input {
    font-size: 20px;
    height: 40px;
    padding: 10px;
  }
}
