.chat-container {
  display: flex;
  flex-direction: column;
  color: --ash-black;
  font-family: RuneScape;
  width: 90%;
  height: 200px;
  box-sizing: border-box;
  top: 75%;
  left: 5%;
}

.chat-messages {
  flex: 1;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}

.chat-input {
  color: --ash-black;
  font-family: RuneScape;
  width: 50%;
  border: 1px solid #ccc;
  background: transparent;
  outline: none;
  box-shadow: none;
  &:focus {
    outline: none;
  }
}
