.dealer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Dealer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 16px;
  min-width: 236px;
  width: 80%;
  max-width: 600px;
  height: 60px;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Dancer {
  height: 200px;
  width: 200px;
  @media (max-width: 950px) {
    height: 90px;
    width: 90px;
  }
}

.Dancers {
  display: flex;
  flex-direction: row;
}
