.dealer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Dealer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 16px;
  height: 60px;
  width: 500px;
  @media (max-width: 950px) {
    width: 256px;
  }
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0px;
  @media (max-width: 950px) {
    width: 256px;
  }
}

.Dancer {
  height: 150px;
  width: 150px;
  @media (max-width: 950px) {
    height: 90px;
    width: 90px;
  }
}

.Dancers {
  display: flex;
  flex-direction: row;
}
