.grassy-room {
  font-family: RuneScape;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.grassy-room-content {
  display: flex;
  flex-direction: row-reverse;
  @media (min-width: 900px) {
    flex-direction: row-reverse;
  }
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

/* Wide screen layout */

/* Narrow screen layout */
