.grassy-room {
  font-family: RuneScape;
  outline: none;
  background-color: var(--sky);
  height: 100vh;
  width: 100vw;
}

.grassy-room-content {
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

/* Wide screen layout */

/* Narrow screen layout */
