.grassy-room {
  outline: none;
  background-color: var(--black);
  height: 100vh;
  width: 100vw;
}

.grassy-room-content {
  display: flex;
  flex-direction: row;
  @media (max-width: 950px) {
    flex-direction: column;
  }
}
