.Interface {
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--yellow);
  padding: 10px;
  /* Media query for narrow windows */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  flex-wrap: wrap;
  margin-top: 10px;
  @media (max-width: 950px) {
    width: 80%;
    max-width: 320px;
  }
}
.Interface > button {
  margin: 4px;
}

.suggested {
  background-color: var(--green);
}
