.grid-item {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player {
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  border-radius: 12px;
  width: 236px;
  height: 100px;
  padding: 10px;
  @media (min-width: 1200px) {
    width: 100%;
    max-width: 300px;
  }
}

.stats {
  display: flex;
  flex-direction: column;
}

.Hands {
  display: flex;
  flex-direction: column;
}
