.grid-container {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  @media (max-width: 950px) {
    height: 30vh;
  }
}

.grid-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.grid-container::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

.grid-container::-webkit-scrollbar-thumb {
  background: var(--grey); /* Color of the scrollbar thumb */
  border-radius: 25px;
  border: none; /* Radius of the scrollbar thumb */
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Color of the scrollbar thumb on hover */
}
